body {
    text-align: center;
    vertical-align: top;
}

article {
    width: 100%;
}

article section {
    width: calc(30% - 20px);
    padding: 20px; 
    display: inline-block;
    max-height: 300px;
}

canvas {
    display: inline-block;
    width: 100%;
    height: 100%;
}

#table {
    width: 80%;
    height: 80%;
}

/* LOAD SPINNER */

.loader {
    border: 8px solid white;
    border-radius: 50%;
    border-top: 8px solid gray;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    margin: 30px auto;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}