body {
    text-align: center;
    vertical-align: top;
}

#explanation {
    width: 90%;
    max-width: 1200px;
    margin: 5px auto;
}

article {
    width: 100%;
}

article section {
    width: calc(30% - 20px);
    padding: 5px 20px; 
    display: inline-block;
    vertical-align: top;
}

canvas {
    display: inline-block;
    width: 100vw;
    /* height: 100vw; */
    max-width: 400px;
    max-height: 400px;

    image-rendering: optimizeSpeed;             /* Older versions of FF           */
    image-rendering: -moz-crisp-edges;          /* FF 6.0+                        */
    image-rendering: -webkit-optimize-contrast; /* Webkit                         */
    image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+)  */
    image-rendering: optimize-contrast;         /* Possible future browsers.      */
    -ms-interpolation-mode: nearest-neighbor;   /* IE                             */
}

#table {
    width: 50%;
    height: 50%;
}

#table, #scales {
    display: inline-block;
    margin: 2%;
    vertical-align: middle;
}

#scales {
    width: 33%;
}
#meta {
    margin: 15px 2px;
}

button {
    margin: 8px;
}

#scales div p {
    margin: 5px;
}

#txtTable {
    width: 80%;
}

#txtUpload, input[type="file"] {
    display: inline-block;
    margin-right: 10px;
}

#scales input[type="range"] {
    width: 100%;
}

#size {
    display: inline-block;
}

/* https://webdesign.tutsplus.com/tutorials/html5-form-validation-with-the-pattern-attribute--cms-25145 */
input:invalid {
    border-color: red;
}

input,
input:valid {
    border-color: #ccc;
}

/* Pseudo selectors */
#lennaBeforeSelectedBox {
    display: none;
    content: '';
    border: 1px solid red;
    position: absolute;
    float: left;
    pointer-events: none;
}

/* #generate {
    background-color: rgba(0,0,0,0);
    border: 2px solid rgb(109, 109, 109);
    padding: 6px;
} */

/* LOAD SPINNER */

.loader {
    border: 8px solid white;
    border-radius: 50%;
    border-top: 8px solid gray;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    margin: 30px auto;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}